body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
main{
    background-color: white;
    margin: 30px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* section-1 starts */
/* .section-1{
    width: 100%;
} */
h1{
    font-size: 70px;
    color: white;
    margin-bottom: 10px;
}
.first-p{
    color: white;
}

.container-button{
    color: white;
    background-color: red;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}
.container-button:hover{
    cursor: pointer;
}
.section-1-container{
    position: relative;
    background-color: black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding-top: 10px;
    padding-bottom: 23px;
    margin-bottom: 100px;
}
.section-1-items-1{
    padding: 40px;
}
.section-1-items-2 img{
    position: absolute;
    width: 500px;
}
/* section-1 ends */




/* ----------------------
section-2 starts
---------------------- */
.section-2-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}
/* section-2-items-1 starts */
.section-2-button{
    width: 215px;
    height: 50px;
    color: white;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.section-2-button a{
    text-decoration: none;
    color: black;  
}
form{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 10px;
    padding: 20px;
    background-color: black;
    /* border: 1px solid green; */
    border-radius: 10px;
}
.hovering-button:hover{
    background-color: red;
    color: white;
}
/* section-2-items-1 ends */


/* section-2-items-2 starts */
.player-card{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    box-shadow: 2px 2px 12px #dadee2;
    /* border: 2px solid red; */
}
.icons {
    display: flex;
    gap: 2rem;
    opacity: 0.75;
}
.player-card img{
    width: 100%;
}
.section-2-items-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
/* section-2-items-2 ends */

/* ----------------------
section-2 endss
---------------------- */








/* footer starts */
footer{
    width: auto;
    height: 170px;
    background-color: black;
    color: white;
    padding: 100px;
}
h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 16px;
}
hr{
    color: white;
}
ul li{
    text-decoration: none;
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}
/* footer ends */




@media only screen and (max-width: 688px) {
    .section-1-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 1rem 0;
        padding: 0.5rem 1rem;
        width: 100%;
        height: 1047px;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .section-2-container{
        grid-template-columns: repeat(1, auto);
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-2-items-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
}