body{
    font-family: 'Ubuntu', sans-serif;
}
main{
    background-color: white;
    margin: 30px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 70px;
    color: white;
    margin-bottom: 10px;
}
.first-p{
    color: white;
}

.container-button{
    color: white;
    background-color: red;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}
.container-button:hover{
    cursor: pointer;
}
.section-1-container{
    position: relative;
    background-color: black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding-top: 10px;
    padding-bottom: 23px;
    margin-bottom: 100px;
}
.section-1-items-1{
    padding: 40px;
}
.section-1-items-2 img{
    position: absolute;
    width: 500px;
}


.section-2-items-1{
    width: 312px;
    height: 312px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.section-2-button{
    width: 215px;
    height: 50px;
    color: white;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.section-2-button a{
    text-decoration: none;
    color: black;  
}


/* .section-2-container{
    display: flex;
} */
.section-1-items-2{
    display: grid;
    grid-template-columns: auto;
}
.player-card{
    display: flex;
    flex-direction: column;
}